## Housing Price Prediction

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score

from lightgbm import LGBMRegressor
from xgboost import XGBRegressor

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Define file path
filepath = "data/Housing.csv"
df = pd.read_csv(filepath)

# 1. Preliminary Data Examination

In [3]:
df.shape

(545, 13)

In [4]:
df.head().T

                          0          1               2          3          4
price              13300000   12250000        12250000   12215000   11410000
area                   7420       8960            9960       7500       7420
bedrooms                  4          4               3          4          4
bathrooms                 2          4               2          2          1
stories                   3          4               2          2          2
mainroad                yes        yes             yes        yes        yes
guestroom                no         no              no         no        yes
basement                 no         no             yes        yes        yes
hotwaterheating          no         no              no         no         no
airconditioning         yes        yes              no        yes        yes
parking                   2          3               2          3          2
prefarea                yes         no             yes        yes         no
furnishingstatus  furnished  furnished  semi-furnished  furnished  furnished

In [5]:
df.dtypes

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object